html{
    font-family: helvetica;
}
div{
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid white;
    background: black;
    color: white;
    box-shadow: 0 5px 10px black;
}
h1{
    margin: 15px 25px;
}
h2{
    position: absolute;
    top: 300px;
    right: 0;
    left: 0;
    margin: auto;
    border-bottom: 2px solid black;
    width: 135px;
}
ul{
    margin: 350px;
}
ul li{
    list-style-type: none;
    padding: 25px 15px;
    border-radius: 5px;
    font-size: 0;
    width: 300px;
    background-color: #920909;
    border: 1px solid red;
    color: white;
    margin: auto;
    margin-top: 10px;
    transition: 1s cubic-bezier(.25 , 1, .1, 1);
}
i{
    margin: 0 10px;
    margin-left: 0;
}
i:nth-child(2){
    margin-left: 3px;
    margin-right: 10px;
}
ul li:hover{
    width: 705px;
    font-size: 18px;
    background-color: hsl(0, 100%, 45%);
}
ul li:active{
    box-shadow: 0 5px 10px black;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: inline;
    margin-top: 100px;
}
ul li a{
    padding: 25px 0;
}
ul li a:hover{
    border-radius: 5px;
    padding: 25px 0;
    text-decoration: underline;
}