/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/10/2016, 10:17:04
    Author     : natan
*/

html{
	font-family: helvetica;
}

/*MENU*/
header .bar {
	position: absolute;
	top: 65px;
	height: 45px;
	right: 0;
	left: 0;
	z-index: 10;
	border-bottom: 1px solid white;
	box-shadow: 0 5px 10px black;
    background-color: hsl(211, 100%, 48%);
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header ul li {
	display: inline;
}

header ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 13px 25px;
    text-decoration: none;
}

header ul li a:hover, .dropdown:hover .dropbtn {
    background: hsl(211, 100%, 40%);
    border-bottom: 2px solid red;
}

header ul li.dropdown {
    display: inline-block;
    border-bottom: 2px solid red;
}
.logout a{
	position: absolute;
	top: 40px;
	right: 20px;
	text-decoration: none;
	color: black;
}
.logout a:hover{
	text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background: hsl(211, 100%, 48%);
    border: 1px solid white;
    box-shadow: 0 3px 8px black;
    border-top: none;
    z-index: 10;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 2px solid hsl(211, 100%, 40%);
}

.dropdown-content a:hover, .dropdown:hover {
	background: hsl(211, 100%, 40%);
	text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*TEXTO LATERAL*/
aside{
	position: absolute;
	top: 111px;
	left: 0;
	bottom: 0;
	width: 180px;
	background: hsla(211, 100%, 48%, .8);
	color: white;
	text-align: center;
}
aside ul{
	position: absolute;
	list-style-type: none;
	font-size: 18px;
	top: 115px;
	left: -110px;
	text-align: center;
    margin: 0;
    padding: 0;
    width: 400px;
    z-index: 8;
}
aside ul li{
	margin: 15px;
}
aside ul li a{
	color: white;
	text-decoration: none;
}
aside ul li:first-child a{
	background: white;
	padding: 8px 39px;
	color: black;
	border: 1px solid black;
	border-right: none;
}
aside ul li:nth-child(2) a{
	padding: 7px 35px;
	cursor: pointer;
}
aside ul li:nth-child(2) a:hover{
	background: hsl(211, 100%, 40%);
	text-decoration: underline;
}

/*FORMULÁRIO*/
#formulario{
	position: absolute;
	top: 92px;
	left: 96px;
	padding: 13px 8px;
	width: 1120px;
	height: 455px;
	border: 2px solid black;
	box-shadow: 0 3px 5px black;
	border-radius: 5px;
}
#dados{
	position: absolute;
	border: 1px solid black;
	top: 30px;
	left: 30px;
	width: 1040px;
	border-radius: 5px;
}
form{
	position: absolute;
	left: 100px;
	right: 0;
}
input{
	padding: 4px 10px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 25px 3px;
	font-size: 14px;
}
label{
	position: absolute;
	margin: 5px;
}
input#Finalizar{
	background: hsl(133, 79%, 35%);
	border: none;
	color: white;
	width: 200px;
	cursor: pointer;
}
input#Limpar{
	background: red;
	border: none;
	color: white;
	width: 200px;
	cursor: pointer;
}
.botoes{
	position: absolute;
	bottom: 0px;
	left: 350px;
	text-align: center;
}
#Finalizar:active, #Limpar:active{
	box-shadow: 0 5px 10px black;
	border: none;
}